@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1.5em;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1.5em;
    text-align: center;
}

/* Estilos del catálogo */
.catalogo {
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    margin: 1.5em;
    padding: 1.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 0 300px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Para que los elementos dentro se apilen verticalmente */
    max-width: 20%;
    
}

.producto img {
    max-width: 100%; /* Ajusta el ancho máximo para mantener la proporción de aspecto */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente al ancho */
    border-radius: 5px;
    flex-grow: 1; /* Hace que la imagen ocupe todo el espacio disponible verticalmente */
}


.producto h2 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.producto p {
    font-size: 1em;
    margin-bottom: 10px;
}

.producto button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #45a049;
}

#banner_alarma {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: 0.5s ease;
}

.banner_alarma_blur {
    filter: blur(5px) brightness(0.7);
}

#mensaje_alarma {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 3em;
    color: #fff; /* Color de texto inicial */
    opacity: 0; /* Inicialmente oculto */
    text-align: center;
    transition: opacity 0.5s ease; /* Transición suave */
}


@keyframes aparecer {
    from {
        opacity: 0;
        bottom: -100px;
    }
    to {
        opacity: 1;
        bottom: 200px;
    }
}

/* Estilos específicos para la barra de navegación */
.barra_nav {
    background-color: #333;
    color: #fff;
    padding: 10px 1.5em;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
