:root {
    --primary-max-width: 512px;
    --primary-spacing: 1.5rem;
    --primary-border-radius: 1rem;
    --primary-main-color: #d8182a;
    --primary-background-color: #CCCCCC;
    --primary-text-color:#e73a4f;
    --secondary-text-color: #777;
    --primary-shadow-color: rgba(2,100,156,255);
    --primary-font-family: "Poppins" ;
  }
  
  @media (min-width: 768px) {
    :root {
      --primary-max-width: 1024px;
      --primary-spacing: 2rem;
    }
  }