@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white  ;
}

.imagen_centro img {
    max-width: 100%;
    height: auto;
    width: 200%; 
}

.titulo{
    text-align: center;
}

.divisor{
    border: none; /* Elimina el borde predeterminado */
    height: 2px; /* Establece la altura del hr */
    background-color: #000; /* Establece el color de fondo del hr */
    margin: 20px auto; /* Establece el margen superior e inferior y centra horizontalmente */
    width: 20%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Agrega sombra */
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Cada columna de tamaño mínimo de 350px */
    gap: 50px; /* Espacio entre las cajas */
    
}

.camara {
    border: 3px solid  #ccc; /* Borde alrededor de cada cámara */
    padding: 20px; /* Relleno para la caja de la cámara */
    margin: 20px; /* Margen alrededor de cada cámara */
    background-color: #f9f9f9;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.2); /* Agrega sombra */
    border-radius: 15px;
}

.campo {
    padding: 10px; /* Relleno para el campo */
}

.camara img {
    width: 200px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen dentro del campo */
    object-position: top center; /* Alinea la imagen en la parte superior y centrada horizontalmente */
    display: block; /* Hace que la imagen sea un bloque para aplicar márgenes automáticos */
    margin: 0 auto; /* Margen automático en la parte superior e inferior y centrado horizontalmente */
 
}

.descripcion{
    text-align: center;
}

/* Estilos para el botón de enviar */
.camara {
    position: relative; /* Establece la posición relativa */
}

.boton {
    position: absolute; /* Establece la posición absoluta */
    bottom: 20px; /* Distancia desde la parte inferior */
    left: 30px; /* Distancia desde la izquierda */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 20px; /* Relleno */
    border: none; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar */
}

/* Cambiar el estilo cuando el cursor pasa sobre el botón */
.boton:hover {
    background-color: #619064; /* Nuevo color de fondo */
}


@media screen and (max-width: 768px) {
    .imagen_centro img {
        width: 150px; /* Tamaño para dispositivos medianos */
    }
}

@media screen and (max-width: 480px) {
    .imagen_centro img {
        width: 100px; /* Tamaño para dispositivos pequeños */
    }
}